<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sayings</title>
<script src="js/libs/jquery-3.4.1.min.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/libs/jquery-ui.min.css">
<link rel="stylesheet" href="css/autocomplete.css">
<script src="js/sayings.js"></script>
<script src="js/searchSayings.js"></script>
<link rel="stylesheet" href="css/sayings.css">
</head>

<div id="mainSayingsContainer" class="center clearfix">
	<!-- use clearfix class to fix overflow when using css flow attr -->

	<div id="submitDiv">
		<form>
			<input type="hidden" id="tagSet" name="tagSet" /> <br>
		</form>
		
		<textarea id="saying" name="saying" rows="4" cols="30">Enter text here</textarea>
		<br> <input type="text" id="tagAutocomplete" /> 
		<input type="button" onclick="addTag()" value="add" /></br></br>
		<!-- id must be different from onclick method name -->
		
		<button onclick="validateAndSave()">submit</button></br>

		<span class = "error" id="warning"></span>
		<span class = "success" id="success"></span>

	</div>
	<div id="tagsDiv">
		<span id="addedTagsList"></span>
	</div>
	
	<div id="searchDiv" class="center">
		</br>
		<input type="text" id="searchTerm" placeholder="Enter search term..."/>
		<div id="loaderWrapper"><img id = "loader" src="images/loader.gif"></img></div> </br></br>
	</div>

</div>

</html>