<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sayings</title>
<script src="js/libs/jquery-3.4.1.min.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/libs/jquery-ui.min.css">
<script src="js/sayings.js"></script>
<link rel="stylesheet" href="css/sayings.css">
</head>

<div id="mainSayingsContainer" class="center clearfix"> <!-- use clearfix class to fix overflow when using css flow attr -->

	<div id="leftDiv">
		<form method="post" action="processSayingFromForm">
			<textarea name="saying" rows="5" cols="50">Enter text here</textarea>
			<br> <input type="text" name="tag" id="tagAutocomplete" /> <input
				type="button" onclick="addTag(tag.value)" value="add" /> <!-- id must be differet from onclick method name -->
			<input type="hidden" id="tagSet" name="tagSet" /> <br> <input
				type="submit" onclick="beforeSubmit()">
		</form>
	</div>
	<div id="rightDiv">
		<span id="addedTagsList"></span>
	</div>

</div>

</html>